# discord bot token
discord_token=""
# discord bot console channelID
console_channel=""
# 統合版サーバーがダウンした時に通知するチャンネルID
# ※入力しない場合はconsole_channelで指定したチャンネルに通知されます
mcDownNotificationChannel=""
# discord bot admin user
admin_user=[""]
# web server port(入力しない場合は8000が使用されます)
PORT=

# 統合版マイクラサーバーのIPアドレス
# ※ローカルホストのマイクラサーバーの場合は「localhost」ではなく「0.0.0.0」と入力してください。
mcIPaddress=""
# 統合版マイクラサーバーのポート番号(入力しない場合は19132が使用されます)
mcPort=
# 統合版マイクラサーバーからのアクセスを許可するIPアドレス
# ※入力しない場合は全てのIPアドレスからのアクセスが許可されます
# ※ローカルへの通信（127.0.0.1と::1）は常に許可されます
allowedIPs=[""]